ol {
    font-size: large;
    color:rgb(255, 0, 0)240, 240);
}

img {
    float:right;
}

p {
    font-size: larger;
    font-style: oblique;
    color:darkgreen;
}

h1 {
    color:hotpink;

}


a:link {
    text-decoration: none;
}