

body {
    padding: 0;
     margin:0;
     background-color:aliceblue;
 
 }
 p {
  color:black;
     font-family :cursive;
  text-align: left;
 }
 
 img {
     float:left;
 }
 
 HouseDogRight {
     float:right;
 }
 h1 {
     font-size:30px;
     color:hotpink;
 }
 
 button {
     padding: 30px 30px;
     font-family: "Comic Sans MS";
 }
 
 